html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q::before, q::after, blockquote::before, blockquote::after {
  content: "";
  content: none;
}

a {
  color: inherit;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

img {
  vertical-align: bottom;
}

textarea, input, select, button {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  margin: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  appearance: none;
  padding: 0;
}

hr {
  height: 0;
  margin: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  color: #202124;
  letter-spacing: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

img, svg {
  max-width: 100%;
  height: auto;
}

b, strong {
  font-weight: bold;
}

sup {
  font-size: 75%;
  vertical-align: top;
}

sub {
  font-size: 75%;
  vertical-align: bottom;
}

.c_img_cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c_w_100 {
  width: 100%;
}

.l_container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.c_inner {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

/* Scale layout */
/* js animation up */
.js-anima-up {
  transform: translateY(20px);
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
  will-change: transform, opacity;
}
.js-anima-up-on {
  transform: translateY(0);
  opacity: 1;
}

.f-google {
  font-family: "Google Sans", sans-serif;
  font-weight: 500;
}

.f-palt {
  font-feature-settings: "palt";
}

.c-button01 {
  width: min(20.8333333333vw, 300px);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: min(1.0416666667vw, 15px);
  background-color: #CC0033;
  color: #fff;
  font-size: min(1.3888888889vw, 20px);
  font-weight: 700;
  line-height: 1;
  text-align: center;
  padding: min(1.3888888889vw, 20px);
  border-radius: min(3.4722222222vw, 50px);
  transition: all 0.3s;
}
.c-button01:hover {
  transform: scale(1.1);
}
.c-button01.is-no-icon::after {
  display: none;
}
.c-button01::after {
  content: "";
  display: inline-block;
  width: min(1.4583333333vw, 21px);
  height: min(1.1111111111vw, 16px);
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='16' viewBox='0 0 21 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='4.70813' y='1' width='14.875' height='9.95312' stroke='white' stroke-width='2'/%3E%3Cpath d='M1 3.04688V15H17.875' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.c-button02 {
  width: min(82.7777777778vw, 1192px);
  margin: 0 auto;
}
.c-button02-title {
  font-size: min(3.75vw, 54px);
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  color: #202124;
  margin-bottom: min(2.0138888889vw, 29px);
}
.c-button02-title .en {
  font-weight: 500;
  font-size: min(4.1666666667vw, 60px);
}
.c-button02-link {
  width: 100%;
  height: min(7.7777777778vw, 112px);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: min(1.0416666667vw, 15px);
  font-size: min(2.0833333333vw, 30px);
  font-weight: 700;
  line-height: 1.1;
  border-radius: min(6.9444444444vw, 100px);
  text-align: center;
  transition: all 0.3s;
  position: relative;
  z-index: 1;
}
.c-button02-link .en {
  font-weight: 500;
}
.c-button02-link:hover {
  transform: scale(1.1);
}
.c-button02-link::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 4px solid #fff;
  border-radius: min(6.9444444444vw, 100px);
  background-color: #CC0033;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.c-button02-link::after {
  content: "";
  display: inline-block;
  width: min(1.4583333333vw, 21px);
  height: min(1.1111111111vw, 16px);
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='16' viewBox='0 0 21 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='4.70813' y='1' width='14.875' height='9.95312' stroke='white' stroke-width='2'/%3E%3Cpath d='M1 3.04688V15H17.875' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.c-button02-bubble {
  width: min(11.5277777778vw, 166px);
  height: min(11.5277777778vw, 166px);
  border-radius: 50%;
  background-color: #0E3AEA;
  color: #DCFF9D;
  display: flex;
  padding-top: min(2.7777777778vw, 40px);
  padding-left: min(0.9027777778vw, 13px);
  text-align: center;
  font-size: min(2.0833333333vw, 30px);
  font-weight: 700;
  line-height: min(2.7083333333vw, 39px);
  letter-spacing: -0.03em;
  position: absolute;
  top: calc(-100% + min(1.1111111111vw, 16px));
  right: min(1.1111111111vw, 16px);
}
.c-button02-bubble.is-lighter {
  background-color: #6155F7;
}
.c-button02-shadow {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: min(6.9444444444vw, 100px);
  background-color: #BAC9F3;
  position: absolute;
  top: min(0.9722222222vw, 14px);
  left: 0;
  z-index: -2;
}

.c-swiper-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: min(1.3888888889vw, 20px);
  width: fit-content;
  margin: min(2.0833333333vw, 30px) auto 0;
  padding-bottom: min(0.3472222222vw, 5px);
}
.c-swiper-nav .swiper-button-next,
.c-swiper-nav .swiper-button-prev,
.c-swiper-nav .swiper-pagination {
  position: static;
  width: fit-content;
}
.c-swiper-nav .swiper-button-next,
.c-swiper-nav .swiper-button-prev {
  margin-top: 0;
  width: min(4.1666666667vw, 60px);
  height: min(4.1666666667vw, 60px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.c-swiper-nav .swiper-button-next::after,
.c-swiper-nav .swiper-button-prev::after {
  font-size: 0;
}
.c-swiper-nav .swiper-button-next:hover,
.c-swiper-nav .swiper-button-prev:hover {
  transform: scale(1.1);
}
.c-swiper-nav .swiper-button-next {
  background-image: url("/special_contents/smartphone/pixel10/images/ico_arrow_right.svg");
}
.c-swiper-nav .swiper-button-prev {
  background-image: url("/special_contents/smartphone/pixel10/images/ico_arrow_left.svg");
}
.c-swiper-nav .swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: min(1.3888888889vw, 20px);
}
.c-swiper-nav .swiper-pagination-bullet {
  width: min(0.9027777778vw, 13px);
  height: min(0.9027777778vw, 13px);
  background-color: #CC0033;
  margin: 0 !important;
}

.c-slick-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: min(1.3888888889vw, 20px);
  width: fit-content;
  margin: min(2.0833333333vw, 30px) auto 0;
  padding-bottom: min(0.3472222222vw, 5px);
}
.c-slick-nav .slider_next,
.c-slick-nav .slider_prev {
  margin-top: 0;
  width: min(4.1666666667vw, 60px);
  height: min(4.1666666667vw, 60px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -9999px;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.c-slick-nav .slider_next:hover,
.c-slick-nav .slider_prev:hover {
  transform: scale(1.1);
}
.c-slick-nav .slider_next {
  background-image: url("/special_contents/smartphone/pixel10/images/ico_arrow_right.svg");
}
.c-slick-nav .slider_prev {
  background-image: url("/special_contents/smartphone/pixel10/images/ico_arrow_left.svg");
}
.c-slick-nav .slider_dots .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: min(1.3888888889vw, 20px);
}
.c-slick-nav .slider_dots .slick-dots li {
  width: min(0.9027777778vw, 13px);
  height: min(0.9027777778vw, 13px);
  border-radius: 50%;
  background-color: rgba(204, 0, 51, 0.3);
  text-indent: -9999px;
}
.c-slick-nav .slider_dots .slick-dots li.slick-active {
  background-color: #CC0033;
}

.c-note01 {
  width: min(83.3333333333vw, 1200px);
  margin: 0 auto;
}
.c-note01 .row {
  display: flex;
  gap: min(0.6944444444vw, 10px);
}
.c-note01 .row:not(:first-of-type) {
  margin-top: min(0.625vw, 9px);
}
.c-note01 .number,
.c-note01 .text {
  font-size: min(0.9722222222vw, 14px);
  font-weight: 400;
  line-height: 1.5;
  color: #3C4043;
}
.c-note01 .link {
  color: #CC0033;
  text-decoration: underline;
}
.c-note01 .link:hover {
  text-decoration: none;
}

.u-nobr {
  display: inline-block;
}

.sp {
  display: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: min(1.3888888889vw, 20px);
  padding: min(1.7361111111vw, 25px) min(2.0833333333vw, 30px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 20;
  transition: all 0.3s;
}
.header_logo {
  width: min(9.7916666667vw, 141px);
  transition: all 0.3s;
  flex-shrink: 0;
}
.header_logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header_menu .list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: min(2.0138888889vw, 29px);
}
.header_menu .list .item {
  display: inline-flex;
}
.header_menu .list .item:not(:first-child) {
  border-left: 2px solid #ECECEC;
  padding-left: min(2.0138888889vw, 29px);
}
.header_menu .list .link {
  font-size: min(1.1111111111vw, 16px);
  font-weight: 700;
  color: #3C4043;
  line-height: 1.5;
}

.footer {
  background: #272727;
  color: #FFFFFF;
  text-align: center;
  padding: min(3.8194444444vw, 55px) min(0.6944444444vw, 10px) min(11.4583333333vw, 165px);
}

.footer_nav {
  display: flex;
  justify-content: center;
  gap: min(1.1111111111vw, 16px);
}

.footer_nav_a {
  font-size: min(0.9722222222vw, 14px);
  letter-spacing: 0.8px;
  line-height: 1;
}
.footer_nav_a .e-ico {
  display: inline-block;
  width: min(1.4583333333vw, 21px);
  height: min(1.0416666667vw, 15px);
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='16' viewBox='0 0 21 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='4.70813' y='1' width='14.875' height='9.95312' stroke='white' stroke-width='2'/%3E%3Cpath d='M1 3.04688V15H17.875' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: min(0.6944444444vw, 10px);
  position: relative;
  top: min(0.0694444444vw, 1px);
}
.footer_nav_a:hover {
  text-decoration: underline;
}
.footer_nav_a:not(:first-of-type) {
  border-left: 1px solid #fff;
  padding-left: min(1.5277777778vw, 22px);
}

.footer_coryright {
  font-size: min(0.8333333333vw, 12px);
  line-height: 1.1;
  margin: min(2.0833333333vw, 30px) 0 0;
}

.sec_content {
  background: url(/special_contents/kokusai/docomo_kokusai/images/bg.png) repeat;
  padding-top: 96px;
}

.sec_mv {
  padding-top: min(6.9444444444vw, 100px);
}

.sec-webcm {
  padding-top: min(7.7777777778vw, 112px);
  padding-bottom: min(6.5277777778vw, 94px);
}
.sec-webcm .title,
.sec-webcm .desc {
  width: min(97.2222222222vw, 1400px);
  margin: 0 auto;
  line-height: 1;
  text-align: center;
}
.sec-webcm .title {
  font-size: min(5.2777777778vw, 76px);
  margin-bottom: min(2.3611111111vw, 34px);
  color: #202124;
}
.sec-webcm .desc {
  font-size: min(2.2222222222vw, 32px);
  font-weight: 700;
  margin-bottom: min(3.3333333333vw, 48px);
  color: #3C4043;
}
.sec-webcm .slider-webcm {
  width: min(100vw, 1440px);
  margin: 0 auto;
}
.sec-webcm .slider-webcm .js_slider_webcm {
  display: none;
}
.sec-webcm .slider-webcm .js_slider_webcm.slick-initialized {
  display: block;
}
.sec-webcm .slide {
  width: min(55.5555555556vw, 800px);
  height: min(30.9027777778vw, 445px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #C4C4C4;
  font-size: min(1.6666666667vw, 24px);
  border-radius: min(1.3888888889vw, 20px);
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin: 0 min(1.3888888889vw, 20px);
  position: relative;
}
.sec-webcm .slide .image {
  width: 100%;
  height: 100%;
}
.sec-webcm .slide .icon {
  width: min(6.9444444444vw, 100px);
  height: min(6.9444444444vw, 100px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sec-google-pixel10 {
  padding-top: min(7.3611111111vw, 106px);
  padding-bottom: min(7.5vw, 108px);
  background-color: #E5EDF8;
  scroll-margin-top: min(6.9444444444vw, 100px);
}
.sec-google-pixel10 .title {
  width: min(83.3333333333vw, 1200px);
  font-size: min(4.1666666667vw, 60px);
  font-weight: 700;
  text-align: center;
  color: #202124;
  line-height: 1.1;
  margin: 0 auto min(4.5138888889vw, 65px);
}
.sec-google-pixel10 .title .en {
  font-size: min(6.5972222222vw, 95px);
}
.sec-google-pixel10 .slider-gg-pixel10 {
  width: min(100vw, 1440px);
  margin: 0 auto min(7.2916666667vw, 105px);
  padding-left: min(8.3333333333vw, 120px);
}
.sec-google-pixel10 .slider-gg-pixel10 .js_slider_gg_pixel10 {
  display: none;
}
.sec-google-pixel10 .slider-gg-pixel10 .js_slider_gg_pixel10.slick-initialized {
  display: block;
}
.sec-google-pixel10 .slider-gg-pixel10 .slide {
  width: min(83.3333333333vw, 1200px);
  margin: 0 min(1.0416666667vw, 15px);
}
.sec-google-pixel10 .slider-gg-pixel10 .slide .link:hover .button {
  transform: scale(1.1);
}
.sec-google-pixel10 .slider-gg-pixel10 .slide .content {
  width: 100%;
  height: min(31.9444444444vw, 460px);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: min(5.5555555556vw, 80px);
  border-radius: min(0.6944444444vw, 10px);
  padding: min(6.9444444444vw, 100px) min(2.0833333333vw, 30px) min(2.0833333333vw, 30px) min(2.0833333333vw, 30px);
  box-sizing: border-box;
  position: relative;
}
.sec-google-pixel10 .slider-gg-pixel10 .slide .notes-01 {
  margin-top: min(1.0416666667vw, 15px);
}
.sec-google-pixel10 .slider-gg-pixel10 .slide .info {
  width: min(40.2777777778vw, 580px);
}
.sec-google-pixel10 .slider-gg-pixel10 .slide .head-en {
  font-size: min(3.4722222222vw, 50px);
  color: #202124;
  line-height: 1.1;
  text-align: center;
  margin-bottom: min(1.1111111111vw, 16px);
}
.sec-google-pixel10 .slider-gg-pixel10 .slide .desc {
  font-size: min(1.1111111111vw, 16px);
  font-weight: 500;
  text-align: center;
  color: #202124;
  line-height: 1.5;
  margin-bottom: min(0.4166666667vw, 6px);
}
.sec-google-pixel10 .slider-gg-pixel10 .slide .num {
  font-size: min(0.6944444444vw, 10px);
  line-height: 1;
  position: relative;
  top: min(-0.2083333333vw, -3px);
}
.sec-google-pixel10 .slider-gg-pixel10 .slide .lead {
  font-size: min(2.2222222222vw, 32px);
  color: #CC0033;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.5;
  margin-bottom: min(1.4583333333vw, 21px);
}
.sec-google-pixel10 .slider-gg-pixel10 .slide .button {
  width: min(20.8333333333vw, 300px);
}
.sec-google-pixel10 .slider-gg-pixel10 .slide .image {
  width: min(83.3333333333vw, 1200px);
  height: min(31.9444444444vw, 460px);
  border-radius: min(0.6944444444vw, 10px);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.sec-google-pixel10 .slider-gg-pixel10 .swiper-nav {
  margin-top: min(1.875vw, 27px);
}
.sec-google-pixel10 .slider-gg-pixel10-02 {
  width: min(100vw, 1440px);
  margin: 0 auto min(2.8472222222vw, 41px);
  padding-left: min(8.3333333333vw, 120px);
}
.sec-google-pixel10 .slider-gg-pixel10-02 .js_slider_gg_pixel10_02 {
  display: none;
}
.sec-google-pixel10 .slider-gg-pixel10-02 .js_slider_gg_pixel10_02.slick-initialized {
  display: block;
}
.sec-google-pixel10 .slider-gg-pixel10-02 .slide {
  width: min(34.7222222222vw, 500px);
  background: #FFFFFF;
  border-radius: min(1.3888888889vw, 20px);
  margin: 0 min(1.0416666667vw, 15px);
}
.sec-google-pixel10 .slider-gg-pixel10-02 .slide .link {
  display: flex;
  flex-direction: column;
  min-height: min(56.9444444444vw, 820px);
  padding: min(2.2222222222vw, 32px) min(3.4722222222vw, 50px) min(2.7777777778vw, 40px) min(3.4722222222vw, 50px);
}
.sec-google-pixel10 .slider-gg-pixel10-02 .slide .link:hover .button {
  transform: scale(1.1);
}
.sec-google-pixel10 .slider-gg-pixel10-02 .slide .head {
  font-weight: 700;
  font-size: min(2.7777777778vw, 40px);
  line-height: 1.1;
  text-align: center;
  color: #202124;
  margin-bottom: min(0.4166666667vw, 6px);
}
.sec-google-pixel10 .slider-gg-pixel10-02 .slide .image-01 {
  width: min(27.7777777778vw, 400px);
  position: relative;
}
.sec-google-pixel10 .slider-gg-pixel10-02 .slide .popup {
  display: block;
  position: absolute;
  width: min(12.7777777778vw, 184px);
  top: min(1.1805555556vw, 17px);
  right: min(-2.7777777778vw, -40px);
}
.sec-google-pixel10 .slider-gg-pixel10-02 .slide .popup img {
  width: 100%;
  height: 100%;
  object-fit: 100%;
}
.sec-google-pixel10 .slider-gg-pixel10-02 .slide .image-02 {
  width: min(27.7777777778vw, 400px);
  border-radius: min(1.3888888889vw, 20px);
  overflow: hidden;
  margin-bottom: min(1.1111111111vw, 16px);
}
.sec-google-pixel10 .slider-gg-pixel10-02 .slide .desc {
  font-size: min(1.1111111111vw, 16px);
  font-weight: 400;
  line-height: 1.5;
  color: #202124;
}
.sec-google-pixel10 .slider-gg-pixel10-02 .slide .num {
  font-size: min(0.7638888889vw, 11px);
  line-height: 1;
  position: relative;
  top: min(-0.2777777778vw, -4px);
}
.sec-google-pixel10 .slider-gg-pixel10-02 .slide .button {
  width: min(15.9722222222vw, 230px);
  margin-top: auto;
}
.sec-google-pixel10 .slider-gg-pixel10-02 .slide-01 .head {
  width: min(15.9722222222vw, 230px);
  margin: 0 auto min(0.4861111111vw, 7px);
}
.sec-google-pixel10 .notes-02 {
  margin-bottom: min(3.6805555556vw, 53px);
}

.sec-google-pixel-watch {
  padding-top: min(7.2222222222vw, 104px);
  padding-bottom: min(7.5694444444vw, 109px);
  background-color: #F1F0FA;
  scroll-margin-top: min(6.9444444444vw, 100px);
  position: relative;
}
.sec-google-pixel-watch .title {
  width: min(83.3333333333vw, 1200px);
  font-size: min(4.1666666667vw, 60px);
  font-weight: 700;
  line-height: 1.2;
  color: #202124;
  margin: 0 auto min(6.8055555556vw, 98px);
}
.sec-google-pixel-watch .title .en {
  font-size: min(6.3888888889vw, 92px);
  position: relative;
  left: min(-0.2777777778vw, -4px);
  top: min(-0.2083333333vw, -3px);
}
.sec-google-pixel-watch .bg-watch {
  width: min(32.8472222222vw, 473px);
  position: absolute;
  top: min(0.4861111111vw, 7px);
  right: min(-9.0972222222vw, -131px);
}
.sec-google-pixel-watch .slider-gg-pixel-watch {
  width: min(100vw, 1440px);
  margin: 0 auto min(2.8472222222vw, 41px);
  padding-left: min(8.3333333333vw, 120px);
}
.sec-google-pixel-watch .js_slider_gg_pixel_watch {
  display: none;
}
.sec-google-pixel-watch .js_slider_gg_pixel_watch.slick-initialized {
  display: block;
}
.sec-google-pixel-watch .slide {
  width: min(34.7222222222vw, 500px);
  border-radius: min(1.3888888889vw, 20px);
  background: #FFFFFF;
  margin: 0 min(1.0416666667vw, 15px);
}
.sec-google-pixel-watch .slide .link {
  min-height: min(56.9444444444vw, 820px);
  padding: min(2.2222222222vw, 32px) min(3.4722222222vw, 50px) min(2.7777777778vw, 40px) min(3.4722222222vw, 50px);
  display: flex;
  flex-direction: column;
}
.sec-google-pixel-watch .slide .link:hover .button {
  transform: scale(1.1);
}
.sec-google-pixel-watch .slide .head {
  font-weight: 700;
  font-size: min(2.7777777778vw, 40px);
  line-height: 1.3;
  text-align: center;
  color: #202124;
  margin-left: min(-3.125vw, -45px);
  margin-right: min(-3.125vw, -45px);
  margin-bottom: min(0.6944444444vw, 10px);
}
.sec-google-pixel-watch .slide .image-01 {
  width: min(27.7777777778vw, 400px);
  margin: 0 auto;
  position: relative;
}
.sec-google-pixel-watch .slide .popup {
  width: min(12.7777777778vw, 184px);
  position: absolute;
  top: min(0.625vw, 9px);
  right: min(-2.7777777778vw, -40px);
}
.sec-google-pixel-watch .slide .popup img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.sec-google-pixel-watch .slide .image-02 {
  width: min(27.7777777778vw, 400px);
  border-radius: min(1.3888888889vw, 20px);
  overflow: hidden;
  margin: 0 auto min(1.1111111111vw, 16px);
}
.sec-google-pixel-watch .slide .desc {
  font-size: min(1.1111111111vw, 16px);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.02em;
}
.sec-google-pixel-watch .slide .num {
  font-size: min(0.7638888889vw, 11px);
  line-height: 1;
  position: relative;
  top: min(-0.2083333333vw, -3px);
}
.sec-google-pixel-watch .slide .button {
  width: min(15.9722222222vw, 230px);
  margin-top: auto;
}
.sec-google-pixel-watch .notes-03 {
  margin-bottom: min(4.6527777778vw, 67px);
}
.sec-google-pixel-watch .banner {
  width: min(65.2777777778vw, 940px);
  margin: 0 auto min(3.4722222222vw, 50px);
}
.sec-google-pixel-watch .banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec-plan {
  background-color: #F6F6F6;
  padding-top: min(6.9444444444vw, 100px);
  padding-bottom: min(6.9444444444vw, 100px);
  scroll-margin-top: min(6.9444444444vw, 100px);
}
.sec-plan-inner {
  width: min(83.3333333333vw, 1200px);
  margin: 0 auto;
  background-color: #FFFFFF;
  border: min(0.4166666667vw, 6px) solid #CC0033;
  border-radius: min(1.3888888889vw, 20px);
  padding-top: min(5.1388888889vw, 74px);
  padding-bottom: min(3.8194444444vw, 55px);
}
.sec-plan .title {
  width: min(70vw, 1008px);
  margin: 0 auto min(2.4305555556vw, 35px);
}
.sec-plan .title-sub {
  font-weight: 900;
  font-size: min(2.7777777778vw, 40px);
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
  color: #000;
  margin-bottom: min(2.9166666667vw, 42px);
}
.sec-plan .title-sub .red {
  color: #CC0033;
}
.sec-plan .list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: min(2.7777777778vw, 40px);
}
.sec-plan .list .item:not(:first-child) {
  border-left: 1px solid #EEEEEE;
}
.sec-plan .button {
  width: min(27.7777777778vw, 400px);
}

.sec-campaign {
  background-color: #fff;
}
.sec-campaign-inner {
  width: min(83.3333333333vw, 1200px);
  margin: 0 auto;
  padding-top: min(6.9444444444vw, 100px);
  padding-bottom: min(7.0833333333vw, 102px);
}
.sec-campaign .box-item-01 {
  background-image: url("/special_contents/smartphone/pixel10/images/campaign_bg_01.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border-radius: min(1.3888888889vw, 20px);
  padding: min(5vw, 72px) min(6.5277777778vw, 94px) min(5.5555555556vw, 80px) min(3.2638888889vw, 47px);
  display: flex;
}
.sec-campaign .box-item-01 .image {
  width: min(31.0416666667vw, 447px);
}
.sec-campaign .box-item-01 .info {
  flex: 1;
}
.sec-campaign .box-item-01 .title {
  font-weight: 700;
  font-size: min(2.3611111111vw, 34px);
  text-align: center;
  color: #009646;
  margin-bottom: min(1.1111111111vw, 16px);
}
.sec-campaign .box-item-01 .list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: min(2.1527777778vw, 31px);
  margin-bottom: min(3.1944444444vw, 46px);
}
.sec-campaign .box-item-01 .list .item {
  font-weight: 400;
  font-size: min(1.3888888889vw, 20px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: min(0.7638888889vw, 11px);
}
.sec-campaign .box-item-01 .list .item::before {
  content: "";
  display: inline-block;
  width: min(1.6666666667vw, 24px);
  height: min(1.8055555556vw, 26px);
  background: url("/special_contents/smartphone/pixel10/images/ico_check.svg") no-repeat;
  background-size: cover;
  background-position: center;
}
.sec-campaign .box-item-01 .button {
  width: min(27.7777777778vw, 400px);
  font-size: min(1.25vw, 18px);
}
.sec-campaign .box-item-02 {
  display: flex;
  align-items: center;
  gap: min(6.9444444444vw, 100px);
  background-color: rgba(204, 0, 51, 0.05);
  border-radius: min(0.6944444444vw, 10px);
  padding: min(5.6944444444vw, 82px) min(6.7361111111vw, 97px) min(5.5555555556vw, 80px) min(6.9444444444vw, 100px);
  margin-top: min(2.0833333333vw, 30px);
}
.sec-campaign .box-item-02 .image {
  width: min(18.75vw, 270px);
}
.sec-campaign .box-item-02 .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sec-campaign .box-item-02 .info {
  width: min(43.9583333333vw, 633px);
}
.sec-campaign .box-item-02 .sub-box-wrap {
  margin-bottom: min(2.0138888889vw, 29px);
}
.sec-campaign .box-item-02 .sub-box .list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: min(4.1666666667vw, 60px);
  margin-bottom: min(1.0416666667vw, 15px);
  padding-left: min(1.0416666667vw, 15px);
}
.sec-campaign .box-item-02 .sub-box .list .item {
  font-weight: 500;
  font-size: min(1.3888888889vw, 20px);
  line-height: 125%;
  text-align: center;
  color: #CC0033;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-campaign .box-item-02 .sub-box .list .item::before {
  content: "";
  display: inline-block;
  width: min(4.1666666667vw, 60px);
  height: min(4.1666666667vw, 60px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.sec-campaign .box-item-02 .sub-box .list .item:nth-child(1) {
  gap: min(1.3194444444vw, 19px);
}
.sec-campaign .box-item-02 .sub-box .list .item:nth-child(1)::before {
  background-image: url("/special_contents/smartphone/pixel10/images/ico_other.svg");
}
.sec-campaign .box-item-02 .sub-box .list .item:nth-child(2)::before {
  background-image: url("/special_contents/smartphone/pixel10/images/ico_breake.svg");
}
.sec-campaign .box-item-02 .sub-box .title {
  font-weight: 700;
  font-size: min(2.7777777778vw, 40px);
  color: #CC0033;
  text-align: center;
  margin-bottom: min(0.4166666667vw, 6px);
  padding-left: min(1.7361111111vw, 25px);
}
.sec-campaign .box-item-02 .sub-box .desc {
  font-weight: 400;
  font-size: min(0.9722222222vw, 14px);
  text-align: center;
  padding-left: min(1.7361111111vw, 25px);
  color: #3C4043;
}
.sec-campaign .box-item-02 .sub-box-02 {
  border-top: 1px solid #CC0033;
  margin-top: min(2.5vw, 36px);
  padding-top: min(2.5vw, 36px);
}
.sec-campaign .box-item-02 .sub-box-02 .title {
  letter-spacing: -0.03em;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: min(0.2777777778vw, 4px);
  padding: 0;
}
.sec-campaign .box-item-02 .sub-box-02 .desc {
  font-size: min(1.25vw, 18px);
  padding: 0;
}
.sec-campaign .box-item-02 .button {
  width: min(27.7777777778vw, 400px);
  font-size: min(1.25vw, 18px);
}

.navi-under {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: min(7.6388888889vw, 110px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navi-under__wrap {
  width: min(75vw, 1080px);
  display: flex;
  justify-content: space-between;
}

.navi-under__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(36.8055555556vw, 530px);
  height: min(5.9722222222vw, 86px);
  border-radius: min(3.4722222222vw, 50px);
  color: #fff;
  transition: all 0.3s;
}
.navi-under__btn:hover {
  transform: scale(1.05);
}
.navi-under__btn span::after {
  width: min(1.3888888889vw, 20px);
}
.navi-under__btn--blue {
  background-color: #0E3AEA;
}
.navi-under__btn--blue span::before {
  background-image: url("/special_contents/smartphone/pixel10/images/ico_fixbtn_device.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.navi-under__btn--pink {
  background-color: #6155F6;
}
.navi-under__btn--pink span::before {
  background-image: url(/special_contents/smartphone/pixel10/images/ico_fixbtn_shop.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.navi-under__btn--text {
  font-size: min(1.5277777778vw, 22px);
  font-weight: 700;
  line-height: 1.2;
}
.navi-under__btn--text span {
  display: flex;
  align-items: center;
}
.navi-under__btn--text span::before {
  content: "";
  display: inline-block;
  width: min(2.9861111111vw, 43px);
  height: min(2.9861111111vw, 43px);
  margin-right: min(1.0416666667vw, 15px);
  vertical-align: middle;
}
.navi-under__btn--text span::after {
  content: "";
  display: inline-block;
  width: min(1.4583333333vw, 21px);
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='16' viewBox='0 0 21 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='4.70813' y='1' width='14.875' height='9.95312' stroke='white' stroke-width='2'/%3E%3Cpath d='M1 3.04688V15H17.875' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-left: min(1.0416666667vw, 15px);
  aspect-ratio: 21/16;
}
@media screen and (max-width: 767px) {
  body {
    font-size: 3.5623409669vw;
  }
  .c_inner {
    padding: 0 5.3333333333vw;
  }
  .c-button01 {
    width: 80vw;
    font-size: 4.8vw;
    border-radius: 13.3333333333vw;
    gap: 4vw;
    padding: 5.3333333333vw 4vw;
  }
  .c-button01::after {
    width: 5.6vw;
    height: 4.2666666667vw;
  }
  .c-button02 {
    width: 89.3333333333vw;
  }
  .c-button02-title .en {
    font-size: 10.6666666667vw;
  }
  .c-button02-title {
    font-size: 10.6666666667vw;
    line-height: 1.3;
    margin-bottom: 5.8666666667vw;
  }
  .c-button02-link {
    height: 30.1333333333vw;
    gap: 4vw;
    border-radius: 26.6666666667vw;
    font-size: 6.4vw;
    line-height: 8vw;
  }
  .c-button02-link::before {
    border: 4px solid #fff;
    border-radius: 26.6666666667vw;
  }
  .c-button02-link::after {
    width: 5.6vw;
    height: 4.2666666667vw;
  }
  .c-button02-bubble {
    width: 22.6666666667vw;
    height: 22.6666666667vw;
    padding-top: 5.8666666667vw;
    padding-left: 1.8666666667vw;
    font-size: 4.2666666667vw;
    line-height: 4.8vw;
    letter-spacing: -0.05em;
    top: -9.8666666667vw;
    right: -2.6666666667vw;
  }
  .c-button02-shadow {
    border-radius: 26.6666666667vw;
    top: 3.7333333333vw;
  }
  .c-swiper-nav {
    gap: 5.3333333333vw;
    margin-top: 5.3333333333vw;
    padding-bottom: 1.3333333333vw;
  }
  .c-swiper-nav .swiper-button-next,
  .c-swiper-nav .swiper-button-prev {
    width: 16vw;
    height: 16vw;
  }
  .c-swiper-nav .swiper-pagination {
    gap: 5.3333333333vw;
  }
  .c-swiper-nav .swiper-pagination-bullet {
    width: 3.4666666667vw;
    height: 3.4666666667vw;
  }
  .c-slick-nav {
    gap: 5.3333333333vw;
    margin-top: 5.3333333333vw;
    padding-bottom: 1.3333333333vw;
  }
  .c-slick-nav .slider_next,
  .c-slick-nav .slider_prev {
    width: 16vw;
    height: 16vw;
  }
  .c-slick-nav .slider_dots .slick-dots {
    gap: 5.3333333333vw;
  }
  .c-slick-nav .slider_dots .slick-dots li {
    width: 3.4666666667vw;
    height: 3.4666666667vw;
  }
  .c-note01 {
    width: 89.3333333333vw;
  }
  .c-note01 .row {
    gap: 2.1333333333vw;
  }
  .c-note01 .row:not(:first-of-type) {
    margin-top: 1.6vw;
  }
  .c-note01 .number,
  .c-note01 .text {
    font-size: 2.6666666667vw;
  }
  .c-note01 .link {
    word-break: break-all;
  }
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  br.sp,
  img.sp,
  span.sp {
    display: inline;
  }
  table.sp {
    display: table;
  }
  .header_menu {
    display: none;
  }
  .header {
    padding: 3.2vw;
    gap: 5.3333333333vw;
  }
  .header_logo {
    width: 27.7333333333vw;
  }
  .footer {
    text-align: left;
    padding: 9.0666666667vw 8vw 37.3333333333vw 8.8vw;
  }
  .footer_nav {
    gap: 4.8vw;
    flex-direction: column;
    line-height: 1.5;
  }
  .footer_nav_a .e-ico {
    top: 0.2666666667vw;
    width: 4.8vw;
    height: 3.2vw;
    margin-left: 1.0666666667vw;
  }
  .footer_nav_a:not(:first-of-type) {
    border: none;
    padding: 0;
  }
  .footer_nav_a {
    font-size: 3.3078880407vw;
    line-height: 1.625;
    letter-spacing: 0.4266666667vw;
  }
  .footer_nav_a:last-of-type .e-ico {
    top: 0.5333333333vw;
    left: 2.1333333333vw;
  }
  .footer_coryright {
    font-size: 3.0534351145vw;
    margin-top: 6.1333333333vw;
    white-space: nowrap;
  }
  .sec_content {
    padding-top: 16.2666666667vw;
  }
  .sec_mv {
    padding-top: 16vw;
  }
  .sec-webcm {
    padding-top: 13.8666666667vw;
    padding-bottom: 14.6666666667vw;
  }
  .sec-webcm .title {
    font-size: 14.6666666667vw;
    margin-bottom: 8vw;
  }
  .sec-webcm .desc {
    font-size: 5.8666666667vw;
    margin-bottom: 10.9333333333vw;
  }
  .sec-webcm .slider-webcm {
    width: 100vw;
  }
  .sec-webcm .slide {
    margin: 0 2.6666666667vw;
  }
  .sec-webcm .slide .icon {
    width: 16vw;
    height: 16vw;
  }
  .sec-webcm .slide {
    width: 89.3333333333vw;
    height: 49.6vw;
    border-radius: 1.3333333333vw;
  }
  .sec-google-pixel10 {
    padding-top: 11.7333333333vw;
    padding-bottom: 20vw;
  }
  .sec-google-pixel10 .title .en {
    font-size: 15.4666666667vw;
    line-height: 1.3;
  }
  .sec-google-pixel10 .title {
    width: 89.3333333333vw;
    font-size: 11.2vw;
    margin-bottom: 7.2vw;
    line-height: 1.3;
  }
  .sec-google-pixel10 .slider-gg-pixel10 {
    width: 100vw;
    margin-bottom: 9.8666666667vw;
    padding-left: 0;
  }
  .sec-google-pixel10 .slider-gg-pixel10 .slide {
    width: 89.3333333333vw;
    margin: 0 2.6666666667vw;
  }
  .sec-google-pixel10 .slider-gg-pixel10 .slide .content {
    height: 133.3333333333vw;
    flex-direction: column;
    border-radius: 2.6666666667vw;
    padding: 8vw 2.6666666667vw;
  }
  .sec-google-pixel10 .slider-gg-pixel10 .slide .notes-01 {
    margin-top: 3.2vw;
  }
  .sec-google-pixel10 .slider-gg-pixel10 .slide .info {
    width: 100%;
  }
  .sec-google-pixel10 .slider-gg-pixel10 .slide .head-en {
    font-size: 11.2vw;
    margin-bottom: 1.0666666667vw;
    line-height: 1.2;
  }
  .sec-google-pixel10 .slider-gg-pixel10 .slide .desc {
    font-size: 3.7333333333vw;
    margin-bottom: 1.3333333333vw;
  }
  .sec-google-pixel10 .slider-gg-pixel10 .slide .num {
    font-size: 2.6666666667vw;
    top: -0.8vw;
  }
  .sec-google-pixel10 .slider-gg-pixel10 .slide .lead {
    font-size: 5.8666666667vw;
    margin-bottom: 1.6vw;
  }
  .sec-google-pixel10 .slider-gg-pixel10 .slide .button {
    width: 80vw;
  }
  .sec-google-pixel10 .slider-gg-pixel10 .slide .image {
    width: 89.3333333333vw;
    height: 133.3333333333vw;
    border-radius: 2.6666666667vw;
  }
  .sec-google-pixel10 .slider-gg-pixel10 .swiper-nav {
    margin-top: 5.3333333333vw;
  }
  .sec-google-pixel10 .slider-gg-pixel10-02 {
    width: 100vw;
    margin-bottom: 8vw;
    padding-left: 0;
  }
  .sec-google-pixel10 .slider-gg-pixel10-02 .slide {
    width: 89.3333333333vw;
    border-radius: 2.6666666667vw;
    margin: 0 2.6666666667vw;
  }
  .sec-google-pixel10 .slider-gg-pixel10-02 .slide .link {
    min-height: 173.0666666667vw;
    padding: 5.3333333333vw 5.3333333333vw 8vw 5.3333333333vw;
  }
  .sec-google-pixel10 .slider-gg-pixel10-02 .slide .head {
    font-size: 8vw;
    margin-bottom: 0.2666666667vw;
  }
  .sec-google-pixel10 .slider-gg-pixel10-02 .slide .image-01 {
    width: 78.6666666667vw;
  }
  .sec-google-pixel10 .slider-gg-pixel10-02 .slide .popup {
    width: 33.0666666667vw;
    top: 6.9333333333vw;
    right: -3.7333333333vw;
  }
  .sec-google-pixel10 .slider-gg-pixel10-02 .slide .image-02 {
    width: 78.6666666667vw;
    border-radius: 1.8666666667vw;
    margin-bottom: 2.9333333333vw;
  }
  .sec-google-pixel10 .slider-gg-pixel10-02 .slide .desc {
    font-size: 3.7333333333vw;
  }
  .sec-google-pixel10 .slider-gg-pixel10-02 .slide .num {
    font-size: 2.9333333333vw;
    top: -1.0666666667vw;
  }
  .sec-google-pixel10 .slider-gg-pixel10-02 .slide .button {
    width: 61.3333333333vw;
  }
  .sec-google-pixel10 .slider-gg-pixel10-02 .slide-01 .head {
    width: 41.0666666667vw;
    margin-bottom: 1.3333333333vw;
  }
  .sec-google-pixel10 .notes-02 {
    margin-bottom: 8.5333333333vw;
  }
  .sec-google-pixel10 .button-01 .c-button02-title {
    margin-left: -4vw;
    margin-right: -4vw;
  }
  .sec-google-pixel-watch {
    padding-top: 12.8vw;
    padding-bottom: 19.7333333333vw;
  }
  .sec-google-pixel-watch .title .en {
    font-size: 16vw;
    position: static;
  }
  .sec-google-pixel-watch .title {
    width: 98.6666666667vw;
    font-size: 11.2vw;
    line-height: 1.21;
    text-align: center;
    margin-bottom: 3.4666666667vw;
  }
  .sec-google-pixel-watch .bg-watch {
    position: static;
    width: 81.0666666667vw;
    margin: 0 auto -22.9333333333vw;
  }
  .sec-google-pixel-watch .slider-gg-pixel-watch {
    width: 100vw;
    margin-bottom: 9.3333333333vw;
    padding-left: 0;
  }
  .sec-google-pixel-watch .slide {
    width: 89.3333333333vw;
    border-radius: 2.6666666667vw;
    margin: 0 2.6666666667vw;
  }
  .sec-google-pixel-watch .slide .link {
    min-height: 173.0666666667vw;
    padding: 5.3333333333vw 5.3333333333vw 7.4666666667vw 5.3333333333vw;
  }
  .sec-google-pixel-watch .slide .head {
    font-size: 7.4666666667vw;
    margin-left: -4vw;
    margin-right: -4vw;
    margin-bottom: 2.6666666667vw;
  }
  .sec-google-pixel-watch .slide .image-01 {
    width: 78.6666666667vw;
  }
  .sec-google-pixel-watch .slide .popup {
    width: 33.0666666667vw;
    top: 7.2vw;
    right: -3.4666666667vw;
  }
  .sec-google-pixel-watch .slide .image-02 {
    width: 78.6666666667vw;
    border-radius: 2.6666666667vw;
    margin-bottom: 2.9333333333vw;
  }
  .sec-google-pixel-watch .slide .desc {
    font-size: 3.7333333333vw;
  }
  .sec-google-pixel-watch .slide .num {
    font-size: 2.9333333333vw;
    top: -0.8vw;
  }
  .sec-google-pixel-watch .slide .button {
    width: 61.3333333333vw;
  }
  .sec-google-pixel-watch .notes-03 {
    margin-bottom: 10.4vw;
  }
  .sec-google-pixel-watch .notes-03 .row:not(:first-of-type) {
    margin-top: 2.6666666667vw;
  }
  .sec-google-pixel-watch .banner {
    width: 89.3333333333vw;
    margin-bottom: 6.6666666667vw;
  }
  .sec-plan {
    padding-top: 16vw;
    padding-bottom: 16vw;
  }
  .sec-plan-inner {
    width: 89.3333333333vw;
    border-width: 1.6vw;
    border-radius: 2.6666666667vw;
    padding-top: 9.3333333333vw;
    padding-bottom: 9.6vw;
  }
  .sec-plan .title {
    width: 81.0666666667vw;
    margin-bottom: 4.5333333333vw;
  }
  .sec-plan .title-sub {
    font-size: 6.9333333333vw;
    margin-bottom: 6.1333333333vw;
  }
  .sec-plan .list {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 3.7333333333vw;
    margin-bottom: 11.4666666667vw;
  }
  .sec-plan .list .item:not(:first-child) {
    border-left: none;
    border-top: 1px solid #EEEEEE;
  }
  .sec-plan .button {
    width: 80vw;
  }
  .sec-campaign-inner {
    width: 100%;
    padding: 17.3333333333vw 5.3333333333vw 16vw;
  }
  .sec-campaign .box-item-01 {
    background: #EFF5E5 url("/special_contents/smartphone/pixel10/images/campaign_bg_01_sp.png");
    flex-direction: column;
    border-radius: 2.6666666667vw;
    padding: 4.5333333333vw 4.5333333333vw 8.5333333333vw 4.5333333333vw;
  }
  .sec-campaign .box-item-01 .image {
    width: 96.8vw;
    margin-bottom: 4.2666666667vw;
    margin-left: -8.2666666667vw;
  }
  .sec-campaign .box-item-01 .title {
    font-size: 7.4666666667vw;
    margin-bottom: 5.0666666667vw;
  }
  .sec-campaign .box-item-01 .list {
    flex-direction: column;
    align-items: flex-start;
    gap: 4vw;
    padding-left: 5.3333333333vw;
    margin-bottom: 6.9333333333vw;
  }
  .sec-campaign .box-item-01 .list .item {
    font-size: 5.3333333333vw;
    gap: 2.9333333333vw;
    justify-content: flex-start;
  }
  .sec-campaign .box-item-01 .list .item::before {
    width: 6.4vw;
    height: 6.9333333333vw;
  }
  .sec-campaign .box-item-01 .button {
    width: 80vw;
    font-size: 4.8vw;
  }
  .sec-campaign .box-item-02 {
    flex-direction: column;
    gap: 7.2vw;
    border-radius: 2.6666666667vw;
    padding: 10.6666666667vw 5.3333333333vw 8vw;
    margin-top: 5.3333333333vw;
  }
  .sec-campaign .box-item-02 .image {
    width: 51.7333333333vw;
  }
  .sec-campaign .box-item-02 .info {
    width: 100%;
  }
  .sec-campaign .box-item-02 .sub-box-wrap {
    margin-bottom: 3.7333333333vw;
  }
  .sec-campaign .box-item-02 .sub-box .list {
    gap: 0.8vw;
    margin-bottom: 1.6vw;
    padding: 0;
  }
  .sec-campaign .box-item-02 .sub-box .list .item {
    flex-direction: column;
    font-size: 5.3333333333vw;
    gap: 3.4666666667vw;
    flex: 1;
  }
  .sec-campaign .box-item-02 .sub-box .list .item::before {
    width: 16vw;
    height: 16vw;
  }
  .sec-campaign .box-item-02 .sub-box .list .item:nth-child(1) {
    gap: 3.4666666667vw;
    position: relative;
    left: 2.4vw;
  }
  .sec-campaign .box-item-02 .sub-box .title {
    font-size: 8vw;
    letter-spacing: -0.05em;
    margin-bottom: 2.6666666667vw;
  }
  .sec-campaign .box-item-02 .sub-box .desc {
    font-size: 2.6666666667vw;
    padding: 0;
  }
  .sec-campaign .box-item-02 .sub-box-02 {
    margin-top: 4.5333333333vw;
    padding-top: 4.5333333333vw;
  }
  .sec-campaign .box-item-02 .sub-box-02 .title {
    margin-top: 1.3333333333vw;
  }
  .sec-campaign .box-item-02 .sub-box-02 .desc {
    font-size: 4.8vw;
  }
  .sec-campaign .box-item-02 .button {
    width: 80vw;
    font-size: 4.8vw;
  }
  .navi-under {
    height: 26.6666666667vw;
  }
  .navi-under__wrap {
    width: 100%;
    box-sizing: border-box;
    padding: 0 2.6666666667vw;
  }
  .navi-under__btn {
    width: 45.8666666667vw;
    height: 21.3333333333vw;
    border-radius: 13.3333333333vw;
  }
  .navi-under__btn span::after {
    width: 4vw;
    margin-left: 2.1333333333vw;
  }
  .navi-under__btn--text {
    font-size: 4.2666666667vw;
  }
  .navi-under__btn--text span::before {
    width: 11.4666666667vw;
    height: 11.4666666667vw;
    margin-right: 0.8vw;
  }
}
@media print, screen and (min-width: 768px) and (max-width: 1439px) {
  .l_container {
    max-width: min(100vw, 1440px);
  }
  .c_inner {
    max-width: min(86.1111111111vw, 1240px);
  }
  .sec_content {
    padding-top: min(6.6666666667vw, 96px);
  }
}
/*# sourceMappingURL=../sourcemaps/css/common.css.map */
/*# sourceMappingURL=common.css.map */
