@charset "UTF-8";
@use "sass:math";
@use "common/00_base/_00_index" as *;

//
// footer
//

.footer {
  background: #272727;
  color: #FFFFFF;
  text-align: center;
  padding: vw-min(55) vw-min(10) vw-min(165);

  @include mq('small') {
    text-align: left;
    padding: vw-s(34) vw-s(30) vw-s(140) vw-s(33);
  }
}

.footer_nav {
  display: flex;
  justify-content: center;
  gap: vw-min(16);

  @include mq('small') {
    gap: vw-s(18);
    flex-direction: column;
    line-height: 1.5;
  }
}

.footer_nav_a {
  .e-ico {
    display: inline-block;
    width: vw-min(21);
    height: vw-min(15);
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='16' viewBox='0 0 21 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='4.70813' y='1' width='14.875' height='9.95312' stroke='white' stroke-width='2'/%3E%3Cpath d='M1 3.04688V15H17.875' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: vw-min(10);
    position: relative;
    top: vw-min(1);

    @include mq('small') {
      top: vw-s(1);
      width: vw-s(18);
      height: vw-s(12);
      margin-left: vw-s(4);
    }
  }

  font-size: vw-min(14);
  letter-spacing: 0.8px;
  line-height: 1;

  &:hover {
    text-decoration: underline;
  }

  &:not(:first-of-type) {
    border-left: 1px solid #fff;
    padding-left: vw-min(22);

    @include mq('small') {
      border: none;
      padding: 0;
    }
  }

  @include mq('small') {
    @include fz-s(13);
    line-height: calc(26/16);
    letter-spacing: vw-s(1.6);

    &:last-of-type {
      .e-ico {
        top: vw-s(2);
        left: vw-s(8);
      }
    }
  }
}

.footer_coryright {
  font-size: vw-min(12);
  line-height: 1.1;
  margin: vw-min(30) 0 0;

  @include mq('small') {
    @include fz-s(12);
    margin-top: vw-s(23);
    white-space: nowrap;
  }
}