@charset "UTF-8";
@use "sass:math";
@use "common/00_base/_00_index" as *;

//
// footer
//

.footer {
  background: #3C3C3C;
  color: #FFFFFF;
  text-align: center;
  padding: vw-min(86) vw-min(10);

  @include mq('small') {
    text-align: left;
    padding: vw-s(59) vw-s(63) vw-s(59) vw-s(50);
  }
}

.footer_nav {
  display: flex;
  justify-content: center;
  gap: vw-min(40);

  @include mq('small') {
    gap: vw-s(33);
    flex-direction: column;
    line-height: 1.5;
  }
}

.footer_nav_a {
  .e-ico {
    display: inline-block;
    width: vw-min(21);
    height: vw-min(15);
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='15' viewBox='0 0 21 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3.8143' y='1' width='15.9714' height='9.8' stroke='white'/%3E%3Cpath d='M1 4.74268V13.9998H17.2' stroke='white'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: vw-min(10);
    position: relative;
    top: vw-min(5);

    @include mq('small') {
      top: vw-s(1);
      width: vw-s(21);
      height: vw-s(15);
    }
  }

  font-size: vw-min(16);
  line-height: 1.1;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  @include mq('small') {
    @include fz-s(16);
    line-height: calc(26/16);

    &:last-of-type {
      .e-ico {
        top: vw-s(2);
        left: vw-s(8);
      }
    }
  }
}

.footer_coryright {
  font-size: vw-min(14);
  line-height: 1.1;
  margin: vw-min(60) 0 0;

  @include mq('small') {
    @include fz-s(14);
    margin-top: vw-s(53);
    margin-left: vw-s(12);
    white-space: nowrap;
  }
}