@charset "UTF-8";
@use "sass:math";
@use "common/00_base/_00_index" as *;

//
// c-button01
//
.c-button01 {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: vw-min(15);
  background-color: #CC0033;
  color: #fff;
  font-size: vw-min(20);
  font-weight: 700;
  line-height: 1;
  text-align: center;
  padding: vw-min(20) vw-min(62);
  border-radius: vw-min(50);
  transition: all 0.3s;

  @include mq('small') {
    width: vw-s(300);
    font-size: vw-s(18);
    border-radius: vw-s(50);
    gap: vw-s(15);
    padding: vw-s(20) vw-s(10);
  }

  &:hover {
    transform: scale(1.1);
  }
  &.is-no-icon {
    &::after {
      display: none;
    }
  }
  &::after {
    content: '';
    display: inline-block;
    width: vw-min(22);
    height: vw-min(16);
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='15' viewBox='0 0 21 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3.8143' y='1' width='15.9714' height='9.8' stroke='white'/%3E%3Cpath d='M1 4.74268V13.9998H17.2' stroke='white'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include mq('small') {
      width: vw-s(22);
      height: vw-s(16);
    }
  }
}

//
// c-button02
//
.c-button02 {
  width: vw-min(1200);
  margin: 0 auto vw-min(50);
  &-title {
    font-size: vw-min(60);
    font-weight: 700;
    text-align: center;
    color: #202124;
    margin-bottom: vw-min(20);
  }
  &-link {
    width: 100%;
    height: vw-min(110);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: vw-min(10);
    font-size: vw-min(30);
    font-weight: 500;
    border-radius: vw-min(100);
    transition: all 0.3s;
    position: relative;
    z-index: 1;
    &:hover {
      transform: scale(1.1);
    }
    .bg {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      border-radius: vw-min(100);
      background-color: #BAC9F3;
      position: absolute;
      top: vw-min(14);
      left: 0;
      z-index: -2;
    }
    &::before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
      border: 4px solid #fff;
      border-radius: vw-min(100);
      background-color: #CC0033;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    &::after {
      content: '';
      display: inline-block;
      width: vw-min(22);
      height: vw-min(16);
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='15' viewBox='0 0 21 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3.8143' y='1' width='15.9714' height='9.8' stroke='white'/%3E%3Cpath d='M1 4.74268V13.9998H17.2' stroke='white'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &-bubble {
    &.is-lighter {
      background-color: #6155F7;
    }
    width: vw-min(170);
    height: vw-min(170);
    border-radius: 50%;
    background-color: #0F3AE9;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: vw-min(30);
    line-height: 1.1;
    position: absolute;
    top: -100%;
    right: vw-min(20);
  }
}