@charset "UTF-8";
@use "sass:math";
@use "common/00_base/_00_index" as *;

//
// c-button01
//
.c-button01 {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: vw-min(15);
  background-color: #CC0033;
  color: #fff;
  font-size: vw-min(20);
  font-weight: 700;
  line-height: 1;
  text-align: center;
  padding: vw-min(20);
  border-radius: vw-min(50);
  transition: all 0.3s;

  @include mq('small') {
    width: vw-s(300);
    font-size: vw-s(18);
    border-radius: vw-s(50);
    gap: vw-s(15);
    padding: vw-s(20);
  }

  &:hover {
    transform: scale(1.1);
  }
  &.is-no-icon {
    &::after {
      display: none;
    }
  }
  &::after {
    content: '';
    display: inline-block;
    width: vw-min(21);
    height: vw-min(16);
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='16' viewBox='0 0 21 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='4.70813' y='1' width='14.875' height='9.95312' stroke='white' stroke-width='2'/%3E%3Cpath d='M1 3.04688V15H17.875' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include mq('small') {
      width: vw-s(21);
      height: vw-s(16);
    }
  }
}

//
// c-button02
//
.c-button02 {
  width: vw-min(1200);
  margin: 0 auto;

  @include mq('small') {
    width: vw-s(335);
  }
  &-title {
    font-size: vw-min(54);
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: #202124;
    margin-bottom: vw-min(25);

    @include mq('small') {
      font-size: vw-s(40);
      line-height: 1.3;
      margin-left: vw-s(-13);
      margin-right: vw-s(-13);
      margin-bottom: vw-s(24);
    }
  }
  &-link {
    width: 100%;
    height: vw-min(110);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: vw-min(10);
    font-size: vw-min(30);
    font-weight: 500;
    line-height: 1.1;
    border-radius: vw-min(100);
    transition: all 0.3s;
    position: relative;
    z-index: 1;

    @include mq('small') {
      height: vw-s(120);
      gap: vw-s(15);
      border-radius: vw-s(100);
      font-size: vw-s(24);
      line-height: vw-s(30);
      text-align: center;
    }
    &:hover {
      transform: scale(1.1);
    }
    &::before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
      border: 4px solid #fff;
      border-radius: vw-min(100);
      background-color: #CC0033;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      @include mq('small') {
        border: 4px solid #fff;
        border-radius: vw-s(100);
      }
    }
    &::after {
      content: '';
      display: inline-block;
      width: vw-min(21);
      height: vw-min(16);
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='16' viewBox='0 0 21 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='4.70813' y='1' width='14.875' height='9.95312' stroke='white' stroke-width='2'/%3E%3Cpath d='M1 3.04688V15H17.875' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @include mq('small') {
        width: vw-s(21);
        height: vw-s(16);
      }
    }
  }
  &-bubble {
    &.is-lighter {
      background-color: #6155F7;
    }
    width: vw-min(170);
    height: vw-min(170);
    border-radius: 50%;
    background-color: #0F3AE9;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: vw-min(30);
    line-height: 1.1;
    position: absolute;
    top: -100%;
    right: vw-min(20);

    @include mq('small') {
      width: vw-s(85);
      height: vw-s(85);
      font-size: vw-s(16);
      top: vw-s(-43);
      right: vw-s(0);
    }
  }
  &-bg {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: vw-min(100);
    background-color: #BAC9F3;
    position: absolute;
    top: vw-min(14);
    left: 0;
    z-index: -2;

    @include mq('small') {
      border-radius: vw-s(100);
      top: vw-s(14);
    }
  }
}