@charset "UTF-8";
@use "sass:math";
@use "common/00_base/_00_index" as *;

//
// font
//

.f_roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.f-noto {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
}

.f-palt {
  font-feature-settings: "palt";
}
