@charset "UTF-8";
@use "sass:math";
@use "common/00_base/_00_index" as *;

.c-swiper-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: vw-min(20);
  width: fit-content;
  margin: vw-min(30) auto 0;

  @include mq('small') {
    gap: vw-s(20);
    margin-top: vw-s(20);
  }
  .swiper-button-next,
  .swiper-button-prev,
  .swiper-pagination {
    position: static;
    width: fit-content;
  }
  .swiper-button-next,
  .swiper-button-prev {
    &::after {
      font-size: 0;
    }
    margin-top: 0;
    width: vw-min(60);
    height: vw-min(60);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;

    @include mq('small') {
      width: vw-s(60);
      height: vw-s(60);
    }
  }
  .swiper-button-next {
    background-image: url('/special_contents/smartphone/pixel10/images/ico_arrow_right.svg');
  }
  .swiper-button-prev {
    background-image: url('/special_contents/smartphone/pixel10/images/ico_arrow_left.svg');
  }
  .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: vw-min(20);

    @include mq('small') {
      gap: vw-s(20);
    }
  }
  .swiper-pagination-bullet {
    width: vw-min(13);
    height: vw-min(13);
    background-color: #CC0033;
    margin: 0 !important;

    @include mq('small') {
      width: vw-s(13);
      height: vw-s(13);
    }
  }
}