@charset "UTF-8";
@use "sass:math";
@use "common/00_base/_00_index" as *;

.sec-google-pixel10 {
  padding: vw-min(97) 0 vw-min(100);
  background-color: #E5EDF8;

  @include mq('small') {
    padding-top: vw-s(60);
    padding-bottom: vw-s(68);
  }

  .title {
    .en {
      @include mq('small') {
      }
    }
    width: vw-min(1200);
    font-size: vw-min(60);
    font-weight: 500;
    text-align: center;
    color: #202124;
    line-height: 1.1;
    margin: 0 auto vw-min(57);

    @include mq('small') {
      width: vw-s(335);
      font-size: vw-s(42);
      margin-bottom: vw-s(33);
      line-height: 1.3;
    }
  }

  // slider-gg-pixel10
  .slider-gg-pixel10 {
    margin-bottom: vw-min(111);

    @include mq('small') {
      margin-bottom: vw-s(40);
    }

    .swiper-slide {
      width: vw-min(1200);

      @include mq('small') {
        width: vw-s(335);
      }

      .content {
        width: 100%;
        height: vw-min(460);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: vw-min(80);
        border-radius: vw-min(10);
        padding: vw-min(30);
        box-sizing: border-box;
        position: relative;

        @include mq('small') {
          height: vw-s(500);
          flex-direction: column;
          border-radius: vw-s(10);
          padding: vw-s(27) vw-s(12);
        }
      }
      .notes-01 {
        margin-top: vw-min(15);

        @include mq('small') {
          margin-top: vw-s(12);
        }
      }
      .info {
        width: vw-min(580);

        @include mq('small') {
          width: 100%;
        }
      }
      .head-ja {
        font-size: vw-min(22);
        font-weight: 500;
        color: #202124;
        line-height: 1.1;
        margin-bottom: vw-min(12);
        text-align: center;

        @include mq('small') {
          font-size: vw-s(18);
          line-height: 1.5;
          margin-bottom: vw-s(8);
        }
      }
      .desc {
        font-size: vw-min(16);
        font-weight: 500;
        text-align: center;
        color: #202124;
        line-height: 1.5;
        margin-bottom: vw-min(15);

        @include mq('small') {
          font-size: vw-s(14);
          margin-bottom: vw-s(5);
        }
      }
      .num {
        font-size: vw-min(10);

        @include mq('small') {
          font-size: vw-s(10);
        }
      }
      .lead {
        font-size: vw-min(32);
        color: #CC0033;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.03em;
        line-height: 1.5;
        margin-bottom: vw-min(21);

        @include mq('small') {
          font-size: vw-s(22);
          margin-bottom: vw-s(6);
        }
      }
      .button {
        width: vw-min(300);

        @include mq('small') {
          width: vw-s(300);
        }
      }
      .image {
        width: vw-min(1200);
        height: vw-min(460);
        border-radius: vw-min(10);
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        @include mq('small') {
          width: vw-s(335);
          height: vw-s(500);
          border-radius: vw-s(10);
        }
      }
    }
    .swiper-slide-gg-pixel10-pro {
      .head-en {
        width: vw-min(444);
        margin: 0 auto vw-min(13);

        @include mq('small') {
          width: vw-s(298);
          margin-bottom: vw-s(10);
        }
      }
    }
    .swiper-slide-gg-pixel10 {
      .head-en {
        width: vw-min(335);
        margin: 0 auto vw-min(13);

        @include mq('small') {
          width: vw-s(236);
          margin-bottom: vw-s(10);
        }
      }
    }
    .swiper-nav {
      margin-top: vw-min(27);

      @include mq('small') {
        margin-top: vw-s(20);
      }
    }
  }

  // slider-gg-pixel10-02
  .slider-gg-pixel10-02 {
    margin-bottom: vw-min(45);

    @include mq('small') {
      margin-bottom: vw-s(37);
    }

    .swiper-slide {
      width: vw-min(500);
      min-height: vw-min(820);
      background: #FFFFFF;
      border-radius: vw-min(20);
      padding: vw-min(32) vw-min(50) vw-min(40) vw-min(50);
      display: flex;
      flex-direction: column;

      @include mq('small') {
        width: vw-s(335);
        min-height: vw-s(649);
        padding: vw-s(20) vw-s(20) vw-s(20) vw-s(30);
        border-radius: vw-s(10);
      }

      .head {
        font-weight: 700;
        font-size: vw-min(40);
        line-height: 1.1;
        text-align: center;
        color: #202124;
        margin-bottom: vw-min(6);

        @include mq('small') {
          font-size: vw-s(30);
          margin-bottom: vw-s(1);
        }
      }

      .image-01 {
        width: vw-min(400);
        position: relative;

        @include mq('small') {
          width: vw-s(295);
        }
      }
      .popup {
        display: block;
        position: absolute;
        width: vw-min(184);
        height: vw-min(123);
        top: vw-min(17);
        right: vw-min(-40);

        @include mq('small') {
          width: vw-s(139);
          height: vw-s(91);
          top: vw-s(12);
          right: vw-s(-10);
        }
      }
      .image-02 {
        width: vw-min(400);
        border-radius: vw-min(20);
        overflow: hidden;
        margin-bottom: vw-min(16);

        @include mq('small') {
          width: vw-s(295);
          border-radius: vw-s(7);
          margin-bottom: vw-s(11);
        }
      }
      .desc {
        font-size: vw-min(16);
        font-weight: 400;
        line-height: 1.5;
        color: #202124;

        @include mq('small') {
          font-size: vw-s(14);
        }
      }
      .num {
        font-size: vw-min(11);
        line-height: 1;
        position: relative;
        top: vw-min(-4);

        @include mq('small') {
          font-size: vw-s(11);
          top: vw-s(-4);
        }
      }
      .button {
        width: vw-min(230);
        margin-top: auto;

        @include mq('small') {
          width: vw-s(230);
        }
      }
    }

    .swiper-slide-01 {
      .head {
        width: vw-min(230);
        margin: 0 auto vw-min(7);

        @include mq('small') {
          width: vw-s(154);
          margin-bottom: vw-s(5);
        }
      }
    }
  }

  // Note 02
  .notes-02 {
    margin-bottom: 40px;
  }
}