@charset "UTF-8";
@use "sass:math";
@use "common/00_base/_00_index" as *;

.sec-google-pixel-watch {
  padding-top: vw-min(104);
  padding-bottom: vw-min(109);
  background-color: #F1F0FA;
  scroll-margin-top: vw-min(100);
  position: relative;

  @include mq('small') {
    padding-top: vw-s(48);
    padding-bottom: vw-s(74);
  }

  .title {
    .en {
      font-size: vw-min(92);
      position: relative;
      left: vw-min(-4);
      top: vw-min(-3);

      @include mq('small') {
        font-size: vw-s(60);
        position: static;
      }
    }

    width: vw-min(1200);
    font-size: vw-min(60);
    font-weight: 700;
    line-height: 1.2;
    color: #202124;
    margin: 0 auto vw-min(98);

    @include mq('small') {
      width: vw-s(370);
      font-size: vw-s(42);
      line-height: 1.21;
      text-align: center;
      margin-bottom: vw-s(13);
    }
  }

  .bg-watch {
    width: vw-min(473);
    position: absolute;
    top: vw-min(7);
    right: vw-min(-131);

    @include mq('small') {
      position: static;
      width: vw-s(304);
      margin: 0 auto vw-s(-86);
    }
  }

  .slider-gg-pixel-watch {
    width: vw-min(1440);
    margin: 0 auto vw-min(41);
    padding-left: vw-min(120);

    @include mq('small') {
      width: vw-s(375);
      margin-bottom: vw-s(35);
      padding-left: 0;
    }
  }

  .js_slider_gg_pixel_watch {
    display: none;

    &.slick-initialized {
      display: block;
    }
  }

  .slide {
    width: vw-min(500);
    min-height: vw-min(820);
    padding: vw-min(32) vw-min(50) vw-min(40) vw-min(50);
    border-radius: vw-min(20);
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin: 0 vw-min(15);

    @include mq('small') {
      width: vw-s(335);
      min-height: vw-s(649);
      padding: vw-s(20) vw-s(20) vw-s(28) vw-s(20);
      border-radius: vw-s(10);
      margin: 0 vw-s(10);
    }
    .head {
      font-weight: 700;
      font-size: vw-min(40);
      line-height: 1.3;
      text-align: center;
      color: #202124;
      margin-left: vw-min(-45);
      margin-right: vw-min(-45);
      margin-bottom: vw-min(10);

      @include mq('small') {
        font-size: vw-s(28);
        margin-left: vw-s(-15);
        margin-right: vw-s(-15);
        margin-bottom: vw-s(10);
      }
    }
    .image-01 {
      width: vw-min(400);
      margin: 0 auto;
      position: relative;

      @include mq('small') {
        width: vw-s(295);
      }
    }
    .popup {
      width: vw-min(184);
      position: absolute;
      top: vw-min(9);
      right: vw-min(-40);

      @include mq('small') {
        width: vw-s(124);
        top: vw-s(27);
        right: vw-s(-13);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .image-02 {
      width: vw-min(400);
      border-radius: vw-min(20);
      overflow: hidden;
      margin: 0 auto vw-min(16);

      @include mq('small') {
        width: vw-s(295);
        border-radius: vw-s(10);
        margin-bottom: vw-s(11);
      }
    }
    .desc {
      font-size: vw-min(16);
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: -0.02em;

      @include mq('small') {
        font-size: vw-s(14);
      }
    }
    .num {
      font-size: vw-min(11);
      line-height: 1;
      position: relative;
      top: vw-min(-3);

      @include mq('small') {
        font-size: vw-s(11);
        top: vw-s(-3);
      }
    }
    .button {
      width: vw-min(230);
      margin-top: auto;

      @include mq('small') {
        width: vw-s(230);
      }
    }
  }

  .notes-03 {
    margin-bottom: vw-min(67);

    @include mq('small') {
      margin-bottom: vw-s(39);

      .row {
        &:not(:first-of-type) {
          margin-top: vw-s(10);
        }
      }
    }
  }

  .banner {
    width: vw-min(940);
    margin: 0 auto vw-min(50);

    @include mq('small') {
      width: vw-s(335);
      margin-bottom: vw-s(25);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}