@charset "UTF-8";
@use "sass:math";
@use "common/00_base/_00_index" as *;

.sec-plan {
  background-color: #F6F6F6;
  padding-top: vw-min(100);
  padding-bottom: vw-min(100);

  @include mq('small') {
    padding-top: vw-s(60);
    padding-bottom: vw-s(60);
  }
  &-inner {
    width: vw-min(1200);
    margin: 0 auto;
    background-color: #FFFFFF;
    border: vw-min(6) solid #CC0033;
    border-radius: vw-min(20);
    padding-top: vw-min(80);
    padding-bottom: vw-min(60);

    @include mq('small') {
      width: vw-s(335);
      border-width: vw-s(6);
      border-radius: vw-s(10);
      padding-top: vw-s(40);
      padding-bottom: vw-s(40);
    }
  }
  .title {
    width: vw-min(1008);
    margin: 0 auto vw-min(29);

    @include mq('small') {
      width: vw-s(304);
      margin-bottom: vw-s(17);
    }
    &-sub {
      font-weight: 900;
      font-size: vw-min(40);
      line-height: 1.1;
      letter-spacing: 0.03em;
      text-align: center;
      color: #000;
      margin-bottom: vw-min(31);

      @include mq('small') {
        font-size: vw-s(26);
        margin-bottom: vw-s(13);
      }
      .red {
        color: #CC0033;
      }
    }
  }
  .list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: vw-min(40);

    @include mq('small') {
      grid-template-columns: repeat(1, 1fr);
      padding: 0 vw-s(14);
      margin-bottom: vw-s(40);
    }
    .item {
      &:not(:first-child) {
        border-left: 1px solid #EEEEEE;

        @include mq('small') {
          border-left: none;
          border-top: 1px solid #EEEEEE;
        }
      }
    }
  }
  .button {
    width: vw-min(400);

    @include mq('small') {
      width: vw-s(300);
    }
  }
}